extends base
block headers
    h1 Nosotros
    span Conoce mas acerca de nosotros
block content
  ul
    each itemlista in participantes
      .col-lg-5.col-md-3.offset-lg-3.offset-md-4
        h2.section-heading.title #{itemlista.name} #{itemlista.last_name}
        p Equipo: #{itemlista.team}
        p Proyecto: #{itemlista.proyect_id}
  