extend base
block headers
    h1 Sitio de Gestión de Proyectos
    span Area de Tecnología de la Información
block content
  h1= title
  p Bienvenido a mi primer_proyecto en node usando #{title} y pug como metalenguaje de HTML!
  ul 
    li me gusta
    li pero no entiendo mucho!